<div class="root-container">
  <div class="container">
    <header class="header">
      <nav class="nav justify-content-center">
        <ul class="nav-list d-flex p-2">
          <a routerLink="/" class="btn btn-dark btn-sm m-2">
            <i class="bi bi-arrow-left-circle"></i>
          </a>
          <li class="btn btn-dark btn-sm m-2" routerLink="/public/home" routerLinkActive="Active">Home</li>
          <li class="btn btn-dark btn-sm m-2" routerLink="/public/asda" routerLinkActive="Active">Contact</li>
          <li class="btn btn-dark btn-sm m-2" routerLink="/public/asadd" routerLinkActive="Active">About</li>
        </ul>
      </nav>
    </header>
  </div>
</div>