<div class="root-container">
  <div class="container">
    <div class="right-side-hero">

    </div>
    <div class="hero">
      <h1>Hello There...</h1>

      <p>Welcome to the index page of our application. Here We can Learn more and Explore throughout this Angular Course</p>
  
      <p>We can also learn about the different components and modules of Angular.</p>
      <p>But Before that You can Learn About me Just click buttons Bellow</p>
      
    </div>

    
    <div class="hook">
       <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore ipsam aliquid, quasi a quas qui, distinctio eaque ratione sapiente rerum dolorum. Itaque deserunt facilis maxime alias dolorum exercitationem nostrum rem.</P>
    </div>

  </div>
</div>