// .root-container {
//   display: flex;
//   flex-direction: column;
// }

// .container {
//   justify-content: space-between;
//   margin-bottom: 20px;
// }

.card-body {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 400px;
  overflow: hidden;
  overflow-y: auto;
}

.card {
  width: 450px;
  height: 450px;
  overflow: hidden;
  overflow-y: auto;
}